@import ./rules

html
    overflow-x: hidden

body 
    margin: 0px 0px 0px 0px
    width: 100%
.radios
    z-index: 1
form 
    width: 300px
    margin: 0 auto
    display: block
    margin-top: 5%

.autocomplete
    width: 100%
    position: relative

#countryautocomplete-list
    position: absolute
    z-index: 99
    width: 100%
    height: 2em
    overflow: show

.autocomplete-items div 
    padding: 1px
    cursor: pointer    
    background-color: #fff 
    border-bottom: 1px solid #d4d4d4 



.autocomplete-items div:hover 
  background-color: #e9e9e9 



.autocomplete-active 
  background-color: DodgerBlue !important
  color: #ffffff

      
form input[type=text] 
    width: 100%   

    